<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h1 class="titulo"><span class="material-symbols-outlined">credit_card</span>TARJETAS DE CREDITO</h1>
        </div>
      </div>
    </div>

  </div>
  <div class="col-4"></div>
    <div class="row mt-4">
      <div class="col-lg-6">
        <app-crear-tarjeta></app-crear-tarjeta>
      </div>
      <div class="col-lg-6">
        <app-lista-tarjeta></app-lista-tarjeta>
      </div>
    </div>
</div>

